@page
@model RPtest.Pages.AddCarModel
@using System;
@using System.Text.Json;
@{
	Layout = "Dashboard";
    ViewData["Title"] = "Ajouter un Véhicule";
}

@section Head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
    <style>
        input, select{
            height: 35px !important;
            padding: 5px !important;
            border: solid gray 1px !important;
        }
    </style>
}

@if (TempData["message"]!=null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="container">
    <h2 class="mb-4">Ajouter un Véhicule</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Model.Marque" class="form-label">Marque</label>
            <select asp-for="Model.Marque" class="custom-select form-control" required>
                <option value="" selected></option>
                @foreach (var marque in Model.Marques)
                {
                    <option value="@marque">@marque</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Model.Nom" class="form-label">Modèle</label>
            <select asp-for="Model.Nom" class="custom-select form-control" required>
                <option value="" selected></option>
                @foreach (var nom_model in Model.Marques_Models)
                {
                    <option value="@nom_model.Nom">@nom_model.Marque : @nom_model.Nom</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Vehicule.Couleur" class="form-label">Couleur</label>
            <select asp-for="Vehicule.Couleur" class="form-control">
                <option value="" selected></option>
                <option value="Blanc">Blanc</option>
                <option value="Noir">Noir</option>
                <option value="Rouge">Rouge</option>
                <option value="Bleu">Bleu</option>
                <option value="Vert">Vert</option>
                <option value="Gris">Gris</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Model.Type" class="form-label">Type : </label>
            <select asp-for="Model.Type" id="type" class="custom-select form-control">
                <option value="" selected></option>
                <option value="Voiture">Voiture</option>
                <option value="Luxe">Luxe</option>
                <option value="Sports Car">Sports Car</option>
                <option value="Camion">Camion</option>
                <option value="Camionette">Camionette</option>
                <option value="Mini Bus">Mini Bus</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Climatisation" class="form-label">Climatisation</label>
            <select asp-for="Climatisation" class="form-control">
                <option value="" selected></option>
                <option value="Avec">Avec</option>
                <option value="Sans">Sans</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Vehicule.Prix" class="form-label"></label>
            <input asp-for="Vehicule.Prix" type="number" class="form-control" required>
        </div>

        <div class="mb-3">
            <label asp-for="Model.Passagers" class="form-label">Places</label>
            <input asp-for="Model.Passagers" type="number" class="form-control" required>
        </div>

        <div class="mb-3">
            <label asp-for="Vehicule.Immatriculation" class="form-label"></label>
            <input asp-for="Vehicule.Immatriculation" class="form-control">
        </div>

        <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input type="file" name="imageFile" accept="image/*" id="photo" style="height:35px; padding:5px;" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#Model_Marque').select2({
                tags: true,  // Permet d'ajouter de nouvelles valeurs
                placeholder: "",
                allowClear: true
            });

            $('#Model_Nom').select2({
                tags: true,  // Permet d'ajouter de nouvelles valeurs
                placeholder: "",
                allowClear: true
            });

            let modelesParMarque = JSON.parse('@Html.Raw(Model.ModelsJ)');

            $('#Model_Marque').on('change', function () {
                let marqueSelectionnee = $(this).val();
                let $modele = $('#Model_Nom');
                let texteActuel = $modele.val();
                if (marqueSelectionnee) {
                    $modele.find('option').remove();
                    for (let key in modelesParMarque) {
                        if (modelesParMarque[key].Marque === marqueSelectionnee) {
                            $modele.append(new Option(modelesParMarque[key].Marque + " : " + modelesParMarque[key].Nom, modelesParMarque[key].Nom));
                        }
                    }
                    $modele.val(texteActuel).trigger('change.select2');
                }
                else {
                    $modele.find('option').remove();
                    let texteActuel = $modele.val();
                    for (let key in modelesParMarque) {
                        $modele.append(new Option(modelesParMarque[key].Marque + " : " + modelesParMarque[key].Nom, modelesParMarque[key].Nom));
                    }
                    $modele.val(texteActuel).trigger('change.select2');
                }
            });

            $('#Model_Nom').on('change', function () {
                let selectedModel = $('#Model_Nom option:selected').text();
                if (selectedModel.includes(" : ")) {
                    const value1 = selectedModel.split(" : ")[0];
                    $('#Model_Marque').val(value1).trigger('change.select2');
                }
            });
        });

    </script>
}