@page
@model RPtest.Pages.CarsList
@{
	Layout = "Dashboard";
    ViewData["Title"] = "List de Véhicules";
}

<table class ="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Model</th>
            <th>Immatriculation</th>
            <th>Prix</th>
            <th>Climatisation</th>
            <th>Vidange</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Vehicules)
        {
            <tr>
                <td><img src="/images/@v.Photo" width="150"></td>
                <td>@v.Model.Marque @v.Model.Nom</td>
                <td>@v.Immatriculation</td>
                <td>@v.Prix</td>
                <td>@v.Climatisation</td>
                <td>@v.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>

