@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

@section Head{
    <style>
        body{
            background-color: #f6f5f5 !important;
        }
        .listing {
            transition: transform 0.3s ease-in-out;
            margin-bottom:0;
            padding-bottom:0;
        }
        .listing:hover{
            transform: translateY(-10px);
        }
        .vehicule {
            opacity: 0; /* Initially hidden */
            transform: translateX(100px); /* Move right initially */
        }
        .containerHero {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 600px;
            margin: 20px auto;
        }
        .hero {
            border-radius: 0px 0px 100px 100px;
            opacity: 0; /* Initially hidden */
            transform: translateY(-100px); /* Move left initially */
        }
    </style>
}

<div class="hero" style="background-image: url('images/header3.png');">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                
                <div class="row mb-1" style="margin-top:100px;">
                    <div class="col-lg-7 intro">
@*                         <h1 class="mb-3"><strong>Louer une voiture</strong> est à portée de main.</h1> *@
                        <h1 class="mb-3" style="color:white;">Votre prochaine <strong>aventure</strong>.</h1>
                    </div>
                </div>

                <form method="get" asp-page="/Listing" class="trip-form mb-2">

                    <div class="row align-items-end justify-content-center">
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="marque">Marque : </label>
                            <select name="marque" id="marque" style="height:35px; padding:5px;" class="custom-select form-control">
                                <option value="" selected></option>
                                @foreach (var marque in Model.Marques)
                                {
                                    <option value="@marque">@marque</option>
                                }
@*                              <option value="Voiture">Voiture</option>
                                <option value="Sports Car">Sports Car</option>
                                <option value="Camion">Camion</option>
                                <option value="Camionette">Camionette</option>
                                <option value="Minibus">Mini Bus</option>
                                <option value="Moto">Moto</option> *@
                            </select>
                        </div>

                        <div class="mb-3 mb-md-0 col-md-3">
                            <label asp-for="Location.DateDepart" class="form-label mr-1">Date Début : </label>
                            <input asp-for="Location.DateDepart" name="Location.DateDepart" type="date" style="height:35px; padding:5px;" class="form-control" required>
                        </div>

                        <div class="mb-3 mb-md-0 col-md-3">
                            <label asp-for="Location.DateRetour" class="form-label mr-1">Date Fin : </label>
                            <input asp-for="Location.DateRetour" name="Location.dateRetour" type="date" style="height:35px; padding:5px;" class="form-control" required>
                        </div>

@*                         <div class="mb-3 mb-md-0 col-md-3">
                            <label for="model">Modèles  : </label>
                            <select name="model" id="model" class="custom-select form-control">
                                <option value="" selected></option>
                                <option value="Dacia">Dacia</option>
                                <option value="Peugeot">Peugeot</option>
                                <option value="Ford">Ford</option>
                                <option value="BMW">BMW</option>
                                <option value="Lamborghini">Lamborghini</option>
                                <option value="Hyundai">Hyundai</option>
                                <option value="Mitsubishi">Mitsubishi</option>
                                <option value="Suzuki">Suzuki</option>
                                <option value="Honda">Honda</option>
                            </select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="couleur">Couleur : </label>
                            <select name="couleur" id="couleur" class="custom-select form-control">
                                <option value="" selected></option>
                                <option value="Blanc">Blanc</option>
                                <option value="Noir">Noir</option>
                                <option value="Rouge">Rouge</option>
                                <option value="Bleu">Bleu</option>
                                <option value="Vert">Vert</option>
                                <option value="Gris">Gris</option>
                            </select>
                        </div> *@
                        <div class="mb-3 mb-md-0 col-md-3">
                            <input type="submit" value="Chercher" class="btn btn-primary w-100" style="padding:16px 25px;">
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light" style="padding-bottom:0; padding-top:10px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading" style="margin-bottom:0; margin-top:20px"><strong>Meilleurs Choix du Moment</strong></h2>
            </div>
        </div>

        <div class="row">
            @foreach (var vehicule in Model.Vehicules)
            {
                <div class="col-lg-3 col-md-4 col-12 listing vehicule" style="border: solid 10px #f6f5f5">
                    <div class="listing d-block  align-items-stretch" style="padding:0;">
                        <a asp-page="Rent" asp-route-VehiculeId="@vehicule.Id">
                            <div class="listing-img h-100 mr-4" style="margin-top:0;">
                                <img src="images/@vehicule.Photo" alt="@vehicule.Photo" class="img-fluid">
                            </div>
                            <div class="listing-contents h-100">
                                <h3>@vehicule.Model.Marque @vehicule.Model.Nom</h3>
                                <div class="rent-price">
                                    <strong>@vehicule.Prix MAD</strong>
                                </div>
                                <div class="d-block d-md-flex  pb-3">
                                    <div class="listing-feature pr-3">
                                        <span class="caption">Bagage</span>
                                        <span class="number">@vehicule.Model.Bagage kg</span>
                                    </div>
                                    <div class="listing-feature pr-2">
                                        <span class="caption">Couleur</span>
                                        <span class="number">@vehicule.Couleur</span>
                                    </div>
                                    <div class="listing-feature pr-2">
                                    <span class="caption">Passagers</span>
                                        <span class="number">@vehicule.Model.Passagers</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="site-section" style="background-color: white !important;">
    <div class="container">
        <h2 class="section-heading"><strong>Comment ça fonctionne?</strong></h2>

        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span style="z-index:99;">1</span>
                    <div class="step-inner">
                        <span class="number text-primary">01.</span>
                        <h3>Sélectionnez un véhicule</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span style="z-index:99;">2</span>
                    <div class="step-inner">
                        <span class="number text-primary">02.</span>
                        <h3>Remplissez le formulaire</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span style="z-index:99;">3</span>
                    <div class="step-inner">
                        <span class="number text-primary">03.</span>
                        <h3>Paiement</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                    </div>
                </div>
            </div>
        </div>
        @*         <div class="row">
        <div class="col-lg-4 mx-auto">
        <a href="#" class="d-flex align-items-center play-now mx-auto">
        <span class="icon">
        <span class="icon-play"></span>
        </span>
        <span class="caption">Video Comment ça Marche</span>
        </a>
        </div>
        </div> *@
    </div>
</div>

<div class="site-section" style="background-color: #f6f5f5 !important; padding-bottom:0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong>Caractéristiques</strong></h2>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 mb-1">
                <div class="service-1 dark text-center">
                    <span class="service-1-icon">
                        <span class="icon-airline_seat_recline_extra"></span>
                    </span>
                    <div class="service-1-contents">
                        <h3>Expérience Client Optimale</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-1">
                <div class="service-1 dark text-center">
                    <span class="service-1-icon">
                        <span class="icon-wifi"></span>
                    </span>
                    <div class="service-1-contents">
                        <h3>Technologie moderne</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-1">
                <div class="service-1 dark text-center">
                    <span class="service-1-icon">
                        <span class="icon-money"></span>
                    </span>
                    <div class="service-1-contents">
                        <h3>Offres et Tarifs Avantageux</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-1">
                <div class="service-1 dark text-center">
                    <span class="service-1-icon">
                        <span class="icon-apps"></span>
                    </span>
                    <div class="service-1-contents">
                        <h3>Large Choix</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-1">
                <div class="service-1 dark text-center">
                    <span class="service-1-icon">
                        <span class="icon-vpn_key"></span>
                    </span>
                    <div class="service-1-contents">
                        <h3>Fiabilité et Sécurité</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-1">
                <div class="service-1 dark text-center">
                    <span class="service-1-icon">
                        <span class="icon-headset_mic"></span>
                    </span>
                    <div class="service-1-contents">
                        <h3>Toujours en contact</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="~/js/gsap.js"></script>

}