@page
@using System
@model ListLocationsModel
@{
    Layout = "Dashboard";
    ViewData["Title"] = "Locations";
}

@section Head {
    <style>
        td{
            vertical-align:middle;
        }
        .photo{
            width:100px;
        }
        .button{
            font-size: 0.8rem;
            width: 50px;
            margin:1px;
        }
    </style>
}


    <table class="table table-bordered table-striped">
        <thead>
            <tr style="text-align:center;">
                <th>N°</th>
                <th>Date</th>
                <th>Nom client</th>
                <th>Téléphone</th>
                <th>Véhicule</th>
                <th>Lieu de Départ</th>
                <th>Lieu de Retour</th>
                <th>Statut</th>
                <th style="width:80px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.Locations)
            {
                <tr>
                    <td>#@l.Id.ToString("D6")</td>
                    <td>@l.Date.ToString("dd/MM/yyyy")</td>
                    <td>@l.NomClient</td>
                    <td>@l.Tel</td>
                    <td style="text-align:center;">
                        <img src="images/@l.Vehicule.Photo" alt="@l.Vehicule.Model.Nom" class="photo" /><br />
                        @l.Vehicule.Model.Marque @l.Vehicule.Model.Nom
                    </td>
                    <td>@l.LieuDepart</td>
                    <td>@l.LieuRetour</td>
                    <td>
                        @switch (l.Statut)
                        {
                            case "Complet":
                                <span class="badge bg-success">Complet</span>
                                break;
                            case "Annulé":
                                <span class="badge bg-danger">Annulé</span>
                                break;
                            default:
                                <span class="badge bg-warning text-dark">En cours</span>
                                break;
                        }
                    </td>
                    <td style="text-align:center; width:80px;">
                        <a asp-page="DetailsLocation" asp-route-id="@l.Id" class="btn btn-primary button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a asp-page="EditLocations" asp-route-id="@l.Id" class="btn btn-warning button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a asp-page="Delete" asp-route-id="@l.Id" class="btn btn-danger button"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
