@page
@model ListingModel
@{
    ViewData["Title"] = "Véhicules";
}
@section Head{
    <style>
        .listingHover {
            transition: transform 0.3s ease-in-out;
        }
        .listingHover:hover {
            transform: translateY(-10px);
        }
        label{
            font-size: 0.9rem;
            margin-bottom:0;
        }
        input, select {
            height:35px !important;
            padding: 5px !important;
        }
        .form-range{
            padding:0 !important;
        }
    </style>
}
<div class="hero inner-page" style="background-image: url('images/header3.png'); height:310px !important;">
    

    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">
                <div class="intro">
                    <h1 style="margin-top:100px;"><strong>Véhicules</strong></h1>
                </div>
            </div>




            <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <form method="get" class="trip-form mb-2" style="padding:0 10px 5px 10px;">

                    <div class="row align-items-end justify-content-center">
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="type" id="typelab">Type : </label>
                            <select asp-for="Model.Type" id="type" class="custom-select form-control">
                                <option value="" selected></option>
                                <option value="Voiture">Voiture</option>
                                <option value="Luxe">Luxe</option>
                                <option value="Sports Car">Sports Car</option>
                                <option value="Camion">Camion</option>
                                <option value="Camionette">Camionette</option>
                                <option value="Mini Bus">Mini Bus</option>
                            </select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="marque">Marque : </label>
                                <select asp-for="Model.Marque" id="marques" class="custom-select form-control">
                                <option value="" selected></option>
                                @foreach (var marque in Model.Marques)
                                {
                                    <option value="@marque">@marque</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="model" id="modellab" class="form-label">Modèle :</label>
                            <select asp-for="Model.Nom" id="modeles" class="custom-select form-control">
                                <option value="" selected></option>
                                @foreach (var nom_model in Model.Marques_Models)
                                {
                                    <option value="@nom_model.Nom">@nom_model.Marque : @nom_model.Nom</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="climatisation" id="climatisationlab">Climatisation :</label>
                            <select asp-for="Climatisation" id="climatisation" class="custom-select form-control">
                                <option value="" selected></option>
                                <option value="Avec">Avec</option>
                                <option value="Sans">Sans</option>
                            </select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label for="couleur" id="couleurlab">Couleur : </label>
                            <select asp-for="Vehicule.Couleur" id="couleur" class="custom-select form-control">
                                <option value="" selected></option>
                                <option value="Blanc">Blanc</option>
                                <option value="Noir">Noir</option>
                                <option value="Rouge">Rouge</option>
                                <option value="Bleu">Bleu</option>
                                <option value="Vert">Vert</option>
                                <option value="Gris">Gris</option>
                            </select>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label style="position:relative; top:10px;">Prix Minimum</label>
                            <div style="position:relative; top:10px; display:flex; gap:10px; justify-content:center;">
                                <div>
                                    <label for="prixmin" id="prixminlab" class="form-label">@Model.PrixMin</label>
                                </div>
                                <div>
                                    <input asp-for="PrixMin" type="range" class="form-range" min="@Model.min" max="@Model.max" step="1" oninput="updateMin(this.value)" id="prixmin">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-3">
                            <label style="position:relative; top:10px;">Prix Maximum</label>
                            <div style="position:relative; top:10px; display:flex; gap:10px; justify-content:center;">
                                <div>
                                    <label for="prixmax" id="prixmaxlab" class="form-label">@Model.PrixMax</label>
                                </div>
                                <div>
                                    <input asp-for="PrixMax" type="range" class="form-range" min="@Model.min" max="@Model.max" step="1" oninput="updateMax(this.value)" id="prixmax">
                                </div>
                            </div>                                
                        </div>
@*                      <div class="mb-3 mb-md-0 col-md-3">
                            <label for="immatriculation" id="immatriculationlab" class="form-label">Immatriculationlab</label>
                            <input name="immatriculation" id="immatriculation" class="form-control" required>
                        </div> *@

                        <div class="mb-3 mb-md-0 col-md-3">
                            <input type="submit" value="Chercher" class="btn btn-primary w-100" style="height:50px !important;"/>
                        </div>
                    </div>

                </form>

            </div>
        </div>





        </div>
        
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">

        <div class="row">
            @foreach (var vehicule in Model.Vehicules)
            {
                <div class="col-md-6 col-lg-4 mb-4 listingHover">
                    <div class="listing d-block  align-items-stretch">
                        <a asp-page="Rent" asp-route-VehiculeId="@vehicule.Id" asp-route-DateDepart="@Model.Location.DateDepart.ToString("yyyy-MM-dd")" asp-route-DateRetour="@Model.Location.DateRetour.ToString("yyyy-MM-dd")">
                            <div class="listing-img h-100 mr-4">
                                <img src="~/images/@vehicule.Photo" alt="@vehicule.Photo" class="img-fluid">
                            </div>

                            <div class="listing-contents h-100">
                                <h3>@vehicule.Model.Marque @vehicule.Model.Nom</h3>
                                <div class="rent-price">
                                    <strong>@vehicule.Prix MAD</strong>@* <span class="mx-1">/</span>jour *@
                                </div>
                                <div class="d-block d-md-flex" style="justify-content:space-between;">
                                    <div class="listing-feature">
                                        <div class="caption">Bagage</div>
                                        <div class="number">@vehicule.Model.Bagage Kg</div>
                                    </div>
                                    <div class="listing-feature">
                                        <div class="caption">Couleur</div>
                                        <div class="number">@vehicule.Couleur</div>
                                    </div>
                                    <div class="listing-feature">
                                        <div class="caption">Places</div>
                                        <div class="number">@vehicule.Model.Passagers</div>
                                    </div>
                                </div>
@*                              <div>
                                    <p>@vehicule.Model.Description.</p>
                                    <p><a asp-page="Rent" asp-route-VehiculeId="@vehicule.Id" class="btn btn-primary btn-sm">Réservez maintenant</a></p>
                                </div> *@
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
       

@*         <div class="row">
            <div class="col-5">
                <div class="custom-pagination">
                    <a href="#">1</a>
                    <span>2</span>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </div>
            </div>
        </div> *@

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            let marquesSelect = document.getElementById("marques");
            let modelesSelect = document.getElementById("modeles");
            let modelesParMarque = JSON.parse('@Html.Raw(Model.ModelsJ)');

            marquesSelect.addEventListener("change", function () {
                let selectedMarque = marquesSelect.value;
                modelesSelect.innerHTML = "";
                let newOption = document.createElement("option");
                newOption.value = ""; newOption.text = "";
                modelesSelect.appendChild(newOption);

                for (let key in modelesParMarque) {
                    if (modelesParMarque[key].Marque == selectedMarque || !selectedMarque) {
                        let newOption = document.createElement("option");
                        newOption.value = modelesParMarque[key].Nom;
                        newOption.text = modelesParMarque[key].Marque + " : " + modelesParMarque[key].Nom;
                        modelesSelect.appendChild(newOption);
                    }
                }
            });

            modelesSelect.addEventListener("change", function () {
                let selectedModel = modelesSelect.options[modelesSelect.selectedIndex].text;
                selectedModel = selectedModel.split(" : ")[0];
                if (selectedModel)
                    marquesSelect.value = selectedModel;
            });
        });

        function updateMin(value) {
            document.getElementById("prixminlab").textContent = value;
        }
        function updateMax(value) {
            document.getElementById("prixmaxlab").textContent = value;
        }
    </script>
}