@page
@using System
@model LocationsModel
@{
    ViewData["Title"] = "Réservations";
    Random x = new Random();
    int r = 0;
}

<div class="hero inner-page" style="background-image: url('images/hero_1_a.jpg');">
    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1 style="margin-top:100px;"><strong>Réservations.</strong></h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-4">

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>N Réservation</th>
                <th>Nom client</th>
                <th>Téléphone</th>
                <th>Place de Début</th>
                <th>Place de Fin</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model.Locations)
            {
                r = x.Next(10000, 100000);
                <tr>
                    <td>#@r</td>
                    <td>@location.NomClient</td>
                    <td>@location.Tel</td>
                    <td>@location.PlaceDebut</td>
                    <td>@location.PlaceFin</td>
                    <td>@location.DateDebut.ToString("dd/MM/yyyy")</td>
                    <td>@location.DateFin.ToString("dd/MM/yyyy")</td>
                    <td>
                        @switch (location.Status)
                        {
                            case "Complet":
                                <span class="badge bg-success">Complet</span>
                                break;
                            case "Annulé":
                                <span class="badge bg-danger">Annulé</span>
                                break;
                            default:
                                <span class="badge bg-warning text-dark">Reservé</span>
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

