@page
@using System
@model LocationsModel
@{
    Layout = "Dashboard";
    ViewData["Title"] = "Réservations";
}

<div class="container mt-4">

        <div class="row mb-4">
            <div class="col-12">
                <h2>Réservations</h2>
            </div>
        </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>N Réservation</th>
                <th>Nom client</th>
                <th>Téléphone</th>
                <th>Lieu de Départ</th>
                <th>Lieu de Retour</th>
                <th>Date de Début</th>
                <th>Date de Retour</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model.Locations)
            {
                <tr>
                    <td>#@location.Id.ToString("D6")</td>
                    <td>@location.NomClient</td>
                    <td>@location.Tel</td>
                    <td>@location.LieuDepart</td>
                    <td>@location.LieuRetour</td>
                    <td>@location.DateDepart.ToString("dd/MM/yyyy")</td>
                    <td>@location.DateRetour.ToString("dd/MM/yyyy")</td>
                    <td>
                        @switch (location.Status)
                        {
                            case "Complet":
                                <span class="badge bg-success">Complet</span>
                                break;
                            case "Annulé":
                                <span class="badge bg-danger">Annulé</span>
                                break;
                            default:
                                <span class="badge bg-warning text-dark">Réservé</span>
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

