@page
@model PaymentModel
@{
	ViewData["Title"] = "Blog";
}
@section Head {
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
	<script src="https://djqizrxa6f10j.cloudfront.net/ecwid-sdk/js/1.3.0/ecwid-app.js"></script>
	<link href="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.13/ecwid-app-ui.css" rel="stylesheet" />
	<style>
		.a-card {
			border: none;
			border-radius: 0px;
			box-shadow: none;
		}
	</style>
}

<div style="margin-top:100px;">
	<div>
		<div class="named-area">
			<div class="named-area__body">

				<!-- Check input element for example of how to set data attributes to save to storage later -->

				<div class="a-card a-card--normal">
					<div class="a-card__paddings row">
						<div class="payment-method">
							<div class="payment-method__header">
								<div class="font-weight-bold">
									Methods de payement : 
								</div>
								<div class="payment-method__credit-cards">
									<svg height="26px" viewBox="0 0 40 26" width="40px" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h40v25.41H0z" fill="#FFF"></path>
										<path d="M1 22h38v3H1z" fill="#F7B600"></path>
										<path d="M1 1h38v3H1zM15.46 8l-4.13 9.84H8.64L6.61 9.99c-.12-.48-.23-.66-.61-.86-.61-.34-1.62-.65-2.51-.84L3.55 8h4.33c.55 0 1.05.37 1.17 1l1.07 5.7L12.78 8h2.68zM26 14.63c.01-2.6-3.59-2.74-3.57-3.9.01-.35.34-.73 1.08-.82.36-.05 1.37-.08 2.51.44l.45-2.09c-.61-.22-1.4-.43-2.38-.43-2.52 0-4.29 1.34-4.3 3.25-.02 1.42 1.26 2.21 2.23 2.68.99.48 1.33.79 1.32 1.22-.01.66-.79.95-1.52.96-1.28.02-2.02-.35-2.61-.62l-.46 2.16c.6.27 1.69.51 2.83.52 2.66 0 4.41-1.32 4.42-3.37m6.65 3.22H35L32.94 8h-2.17c-.49 0-.9.28-1.08.72l-3.82 9.12h2.67l.53-1.47h3.27l.31 1.48zm-2.85-3.49l1.34-3.7.77 3.7H29.8zM19.09 8l-2.1 9.84h-2.55L16.55 8h2.54z"
												fill="#1A1F71"></path>
									</svg>
									<svg height="26px" viewBox="0 0 36 26" width="36px" xmlns="http://www.w3.org/2000/svg">
										<path d="M8.46 24.75V23.2c0-.58-.37-.97-.97-.98-.31-.01-.64.09-.87.44-.17-.27-.44-.44-.81-.44-.26 0-.52.08-.72.37v-.3h-.54v2.46h.54v-1.36c0-.43.24-.65.6-.65s.54.23.54.65v1.37h.54V23.4c0-.43.25-.65.6-.65.37 0 .54.23.54.65v1.37h.55zm8-2.46h-.88v-.75h-.54v.75h-.5v.49h.5v1.12c0 .57.22.91.85.91.23 0 .5-.07.67-.19l-.15-.46c-.16.09-.33.14-.47.14-.27 0-.36-.16-.36-.41v-1.11h.88v-.49zm4.57-.06c-.31 0-.51.14-.65.36v-.3h-.53v2.46h.54v-1.38c0-.41.18-.63.53-.63.11 0 .22.02.33.06l.16-.5c-.12-.05-.27-.07-.38-.07zm-6.91.25c-.26-.17-.61-.26-1-.26-.62 0-1.02.3-1.02.79 0 .4.3.65.85.73l.25.04c.29.04.43.12.43.26 0 .19-.2.3-.56.3-.37 0-.64-.12-.82-.26l-.25.42c.29.22.66.32 1.07.32.71 0 1.12-.33 1.12-.8 0-.43-.32-.66-.86-.74l-.25-.04c-.23-.03-.42-.08-.42-.24 0-.18.18-.29.47-.29.31 0 .62.12.77.21l.22-.44zm14.35-.25c-.31 0-.51.14-.65.36v-.3h-.53v2.46h.54v-1.38c0-.41.18-.63.53-.63.11 0 .22.02.33.06l.16-.5c-.12-.05-.27-.07-.38-.07zm-6.9 1.29c0 .75.52 1.29 1.31 1.29.37 0 .62-.08.89-.29l-.26-.43c-.2.14-.41.22-.64.22-.43-.01-.74-.31-.74-.79 0-.47.31-.78.74-.79.23 0 .44.08.64.22l.26-.43c-.27-.21-.51-.29-.89-.29-.79 0-1.31.54-1.31 1.29zm5.01 0v-1.23h-.54v.3c-.17-.22-.43-.36-.78-.36-.69 0-1.23.54-1.23 1.29s.54 1.29 1.23 1.29c.35 0 .61-.14.78-.36v.3h.54v-1.23zm-1.99 0c0-.43.28-.79.75-.79.44 0 .74.34.74.79s-.3.79-.74.79c-.47 0-.75-.36-.75-.79zm-6.46-1.29c-.72 0-1.23.53-1.23 1.29 0 .78.53 1.29 1.26 1.29.37 0 .71-.09 1.01-.35l-.26-.4c-.21.16-.47.26-.72.26-.35 0-.66-.16-.74-.6h1.83c.01-.07.01-.13.01-.21 0-.76-.47-1.28-1.16-1.28zm-.01.48c.35 0 .57.22.62.6h-1.28c.06-.36.28-.6.66-.6zm13.43.81V21.3h-.54v1.29c-.17-.22-.43-.36-.78-.36-.69 0-1.23.54-1.23 1.29s.54 1.29 1.23 1.29c.35 0 .61-.14.78-.36v.3h.54v-1.23zm-1.99 0c0-.43.28-.79.75-.79.44 0 .74.34.74.79s-.3.79-.74.79c-.47 0-.75-.36-.75-.79zm-18.09 0v-1.23h-.54v.3c-.17-.22-.43-.36-.78-.36-.69 0-1.23.54-1.23 1.29s.54 1.29 1.23 1.29c.35 0 .61-.14.78-.36v.3h.54v-1.23zm-1.99 0c0-.43.28-.79.75-.79.44 0 .74.34.74.79s-.3.79-.74.79c-.46 0-.75-.36-.75-.79zm22.97.87c.03 0 .07.01.1.02s.06.03.08.05c.02.02.04.05.05.08.01.03.02.06.02.1 0 .03-.01.07-.02.09-.01.03-.03.06-.05.08-.02.02-.05.04-.08.05-.03.01-.06.02-.1.02-.04 0-.07-.01-.1-.02s-.06-.03-.08-.05c-.02-.02-.04-.05-.05-.08-.01-.03-.02-.06-.02-.09s.01-.07.02-.1.03-.06.05-.08c.02-.02.05-.04.08-.05.03-.01.06-.02.1-.02zm0 .44c.03 0 .05-.01.07-.01.02-.01.04-.02.06-.04.02-.02.03-.04.04-.06.01-.02.01-.05.01-.07s0-.05-.01-.07c-.01-.02-.02-.04-.04-.06-.02-.02-.04-.03-.06-.04-.02-.01-.05-.01-.07-.01-.03 0-.05 0-.08.01-.02.01-.04.02-.06.04-.02.02-.03.04-.04.06-.01.02-.01.05-.01.07s0 .05.01.07c.01.02.02.04.04.06.02.02.04.03.06.04.03 0 .05.01.08.01zm.01-.31c.03 0 .05.01.07.02.02.01.02.03.02.05 0 .02-.01.03-.02.05-.01.01-.03.02-.05.02l.07.09h-.05l-.07-.09h-.02v.09h-.05v-.23h.1zm-.05.05v.06h.06c.01 0 .02 0 .03-.01.01 0 .01-.01.01-.02s0-.02-.01-.02-.02-.01-.03-.01h-.06z"></path>
										<path d="M13.94 3.53h8.11v14.58h-8.11z" fill="#FF5F00"></path>
										<path d="M14.46 10.82c0-2.96 1.38-5.59 3.54-7.29-1.58-1.24-3.57-1.98-5.73-1.98C7.15 1.55 3 5.7 3 10.82c0 5.12 4.15 9.27 9.27 9.27 2.16 0 4.15-.74 5.73-1.98-2.16-1.7-3.54-4.33-3.54-7.29z"
												fill="#EB001B"></path>
										<path d="M33 10.82c0 5.12-4.15 9.27-9.27 9.27-2.16 0-4.15-.74-5.73-1.98 2.16-1.7 3.54-4.33 3.54-7.29S20.16 5.23 18 3.53c1.58-1.24 3.57-1.98 5.73-1.98 5.12 0 9.27 4.15 9.27 9.27z"
												fill="#F79E1B"></path>
									</svg>
								</div>
							</div>
							<div class="payment-method__content">
								<div class="form-area">
									<div class="form-area__content">
										<p>
											Pour finaliser votre réservation, commencez le processus de payement en remplissant soigneusement 
											vos informations de carte bancaire dans le formulaire sécurisé. Assurez-vous que les détails fournis
											sont corrects avant de valider votre paiement.
										</p>
									</div>

									<div class="columned">
										<div class="columned__item">

											<div class="container">
												<div class="row justify-content-center">
													
													<div class="card shadow-lg">
														<div class="card-header bg-primary text-white text-center">
															<h4 class="m-0">Paiement sécurisé CMI</h4>
														</div>
														<div class="card-body">

															<form id="paymentForm" method="post">
																<input type="hidden" name="z" value="@Model.VehiculeId" />

																<div class="mb-3">
																	<label asp-for="Location.Rib" class="form-label">Numéro de Carte</label>
																	<input asp-for="Location.Rib" class="form-control" placeholder="1234 5678 9012 3456">
																</div>

																<div class="row">
																	<div class="col-md-6 mb-3">
																		<label asp-for="Location.Expiration" class="form-label">Date d'Expiration</label>
																		<input asp-for="Location.Expiration" class="form-control" placeholder="MM/YY">
																	</div>
																	<div class="col-md-6 mb-3">
																		<label asp-for="Location.CVC" class="form-label">CVC</label>
																		<input asp-for="Location.CVC" class="form-control" placeholder="123">
																	</div>
																</div>

																<div class="mb-3">
																	<label asp-for="Location.Email" class="form-label">Email</label>
																	<input asp-for="Location.Email" class="form-control" placeholder="exemple@gmail.com">
																</div>

																<div class="mb-3">
																	<label for="amount" class="form-label">Montant à payer (MAD)</label>
																	<input type="number" class="form-control" id="amount" value="100" readonly>
																</div>

																<button type="submit" class="btn btn-primary w-100 h-100">Payer maintenant</button>
															</form>

														</div>
													</div>
													
												</div>
											</div>
										</div>

										<!-- Payment instructions block START -->
										<div class="columned__item columned__item--shifted">
											<div class="form-area__title">Configure Account</div>
											<div class="form-area__content">
												<ul class="bullet">
													<li>Remplissez le numéro de carte bancaire.</li>
													<li>Entrez sa date d'expiration.</li>
													<li>Entrez son code de vérification (CVC).</li>
													<li>Entrez une adresse mail où vous recevrez un e-mail de confirmation.</li>
												</ul>
												<p>
													Toutes les transactions sont protégées par un cryptage
													avancé pour garantir la sécurité de vos données.
												</p>
											</div>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>

						<div class="col-md-3">
							<div class="listing d-block  align-items-stretch" style="border-left:solid; margin-top:50px; padding-top:50px;">
								<div class="listing-img h-100 mr-4">
									<img src="~/images/@Model.Vehicule.Photo" alt="@Model.Vehicule.Photo" class="img-fluid">
								</div>
								<div class="listing-contents h-100">
									<h3>@Model.Vehicule.Model.Nom</h3>
									<div class="rent-price">
										<strong>@Model.Vehicule.Prix MAD</strong>@* <span class="mx-1">/</span>day *@
									</div>
									<div class="d-block d-md-flex mb-3 border-bottom pb-3">
										<div class="listing-feature pr-4">
											<span class="caption">Bagage:</span>
											<span class="number">@Model.Vehicule.Model.Bagage kg</span>
										</div>
										<div class="listing-feature pr-4">
											<span class="caption">Couleur:</span>
											<span class="number">@Model.Vehicule.Couleur</span>
										</div>
										<div class="listing-feature pr-4">
											<span class="caption">Passagers:</span>
											<span class="number">@Model.Vehicule.Model.Passagers</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
$("#paymentForm").on("submit", function(e) {
    e.preventDefault();
    alert("Paiement en cours... Intégrez CMI ici !");
    // Ici, vous devez envoyer les données à votre backend pour communiquer avec CMI
});
</script>

<script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.13/ecwid-app-ui.min.js"></script>

<script>

	// Autosave feature for fields. Complimentary JS for the one from SDK above

	(function initFieldset() {

		var elms = document.querySelectorAll(
			'.field__input, .field__select, .field__textarea, .radio, .custom-checkbox__input');
		for (var i = 0; i < elms.length; i++) {
			elms[i].addEventListener('blur', function (e) {
				checkFieldChange(this);
				if (this.classList.contains('field__input') || this.classList.contains('field__textarea')) {
					saveUserData();
				}
			}, false);

			elms[i].addEventListener('change', function () {
				if (this.value) {
					saveUserData();
				}
				else {
					saveUserData();
				}
			}, false);

			elms[i].addEventListener('click', function () {
				if (this.value) {
					saveUserData();
				}
				else {
					saveUserData();
				}
			}, false);
		}
	})();

</script>
