@page
@model RentModel
@{
    ViewData["Title"] = "Reservez";
}
@section Head {
    <style>
        .form-control {
            max-width: 337px;
        }
    </style>
}

@if (Model.Vehicule != null)
{
    <div class="hero inner-page" style="background-image: url('images/header3.png');">
    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1><strong>Louez</strong></h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <div class="listing d-block  align-items-stretch">
                    <div class="listing d-block  align-items-stretch">
                        <div class="listing-img h-100 mr-4">
                            <img src="~/images/@Model.Vehicule.Photo" alt="@Model.Vehicule.Photo" class="img-fluid">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@Model.Vehicule.Model.Marque @Model.Vehicule.Model.Nom</h3>
                            <div class="rent-price">
                                <strong>@Model.Vehicule.Prix MAD</strong>@* <span class="mx-1">/</span>jour *@
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Bagage</span>
                                    <span class="number">@Model.Vehicule.Model.Bagage kg</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Couleur</span>
                                    <span class="number">@Model.Vehicule.Couleur</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Places</span>
                                    <span class="number">@Model.Vehicule.Model.Passagers</span>
                                </div>
                            </div>
@*                             <div>
                                <p>@Model.Vehicule.Model.Description</p>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form class="trip-form" method="get" asp-page="Payment">
                    <input type="hidden" name="VehiculeId" value="@Model.Vehicule.Id" />

                    <div class="mb-1 d-flex align-items-center justify-content-end">
                        <label asp-for="Location.NomClient" class="form-label mr-1">Nom Complet : </label>
                        <input asp-for="Location.NomClient" class="form-control" required>
                    </div>
                    <div class="mb-1 d-flex align-items-center justify-content-end">
                        <label asp-for="Location.Tel" class="form-label mr-1">N° Télephone : </label>
                        <input asp-for="Location.Tel" class="form-control" required>
                    </div>
                    <div class="mb-1 d-flex align-items-center justify-content-end form-control-wrap">
                        <label asp-for="Location.DateDepart" class="form-label mr-1">Date de Départ : </label>
                        <input asp-for="Location.DateDepart" type="date" class="form-control" required>
                    </div>
                    <div class="mb-1 d-flex align-items-center justify-content-end form-control-wrap">
                        <label asp-for="Location.DateRetour" class="form-label mr-1">Date de Retour : </label>
                        <input asp-for="Location.DateRetour" type="date" class="form-control" required>
                    </div>

                    <div class="mb-1 d-flex align-items-center justify-content-end form-control-wrap">
                        <label asp-for="Location.LieuDepart" style="text-align:right;" class="form-label mr-1">Lieu de Départ : </label>
                        <div class="col-8" style="text-align:right; padding:0;">
                            <select name="villeDepart" id="villeDepart" class="custom-select form-control" style="height:35px; padding:5px;">
                                @foreach (var ville in Model.Villes)
                                {
                                    <option value="@ville.Nom">@ville.Nom</option>
                                }
                            </select>
                            <select name="quartierDepart"  id="quartierDepart" class="custom-select form-control" style="height:35px; padding:5px;">
                                <option value="" selected></option>
                                @foreach (var quartier in Model.Quartiers)
                                {
                                    <option value="@quartier.Nom">@quartier.Nom</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="mb-1 d-flex align-items-center justify-content-end form-control-wrap">
                        <label asp-for="Location.LieuDepart" style="text-align:right;" class="form-label mr-1">Lieu de Retour : </label>
                        <div class="col-8" style="text-align:right; padding:0;">
                            <select name="villeRetour" id="villeRetour" class="custom-select form-control" style="height:35px; padding:5px;">
                                @foreach (var ville in Model.Villes)
                                {
                                    <option value="@ville.Nom">@ville.Nom</option>
                                }
                            </select>
                            <select name="quartierRetour" id="quartierRetour" class="custom-select form-control" style="height:35px; padding:5px;">
                                <option value="" selected></option>
                                @foreach (var quartier in Model.Quartiers)
                                {
                                    <option value="@quartier.Nom">@quartier.Nom</option>
                                }
                            </select>
                        </div>
                    </div>

@*                  <div class="mb-1 d-flex align-items-center justify-content-end">
                        <label asp-for="Location.Tarif" class="form-label mr-1">Tarif : </label>
                        <select asp-for="Location.Tarif" class="custom-select form-control">
                            <option value="Jour" selected>Par Jour</option>
                            <option value="Heure">Par Heure</option>
                            <option value="Kilomètre">Kilométrage</option>
                        </select>
                    </div> *@

                    <div class="mb-3 mb-md-0">
                        <input type="submit" value="Louez" class="btn btn-primary btn-block py-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}



@section Scripts {
    <script>
        $(document).ready(function () {
            document.getElementById("villeDepart").addEventListener("change", function () {
                villeDepartChange()
            });
            document.getElementById("villeRetour").addEventListener("change", function () {
                villeRetourChange()
            });

            villeDepartChange();
            villeRetourChange();
        });

        function villeDepartChange() {
            let villeDepartSelect = document.getElementById("villeDepart");
            let quartierDepartSelect = document.getElementById("quartierDepart");
            let Quartiers = JSON.parse('@Html.Raw(Model.QuartiersJ)');

            let selectedVilleDepart = villeDepartSelect.value;
            quartierDepartSelect.innerHTML = "";
            let quartierOption = document.createElement("option");
            quartierOption.value = ""; quartierOption.text = "";
            quartierDepartSelect.appendChild(quartierOption);

            for (let key in Quartiers) {
                if (Quartiers[key].Ville.Nom == selectedVilleDepart || !selectedVilleDepart) {
                    let quartierOption = document.createElement("option");
                    quartierOption.value = Quartiers[key].Nom;
                    quartierOption.text = Quartiers[key].Nom;
                    quartierDepartSelect.appendChild(quartierOption);
                }
            }
        }

        function villeRetourChange() {
            let villeRetourSelect = document.getElementById("villeRetour");
            let quartierRetourSelect = document.getElementById("quartierRetour");
            let Quartiers = JSON.parse('@Html.Raw(Model.QuartiersJ)');

            let selectedVilleRetour = villeRetourSelect.value;
            quartierRetourSelect.innerHTML = "";
            let quartierOption = document.createElement("option");
            quartierOption.value = ""; quartierOption.text = "";
            quartierRetourSelect.appendChild(quartierOption);

            for (let key in Quartiers) {
                if (Quartiers[key].Ville.Nom == selectedVilleRetour || !selectedVilleRetour) {
                    let quartierOption = document.createElement("option");
                    quartierOption.value = Quartiers[key].Nom;
                    quartierOption.text = Quartiers[key].Nom;
                    quartierRetourSelect.appendChild(quartierOption);
                }
            }
        }
    </script>
}